@model IEnumerable<Product>
   
@*  
    Выражение сверху указывает, что представление будет получать от метода действия
    последовательность объектов Product в качестве данных модели. 
*@

@{

}

@foreach (var p in Model)
{
    <div>
        <h3>@p.Name</h3>
        @p.Description
        <h4>@p.Price.ToString("c")</h4>
        @* Приведение .ToString("c") указывает, что данные должны быть 
           отформатированы учитывая локальный стандарт сервера: $, евро или еще что-либо.*@
    </div>
}

