<!DOCTYPE html>
<!-- Это - файл компоновки, который можно с легкостью встраивать в другие представления -->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportsStore</title>
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/css/*.min.css"
          asp-href-exclude="~/lib/bootstrap/css/*-reboot*, ~/lib/bootstrap/css/*-grid*"/>
    <link rel="stylesheet" href="~/Layout/Layout.css" />
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="#"><h2 class="navbar-brand">SPORTS STORE</h2></a>
    </nav>

    <div class="grid-container">
        <div class="navbar-categories">
            <div class="categories" id="categories">
                @await Component.InvokeAsync("NavigationMenu")
                <!--Асинхронно вызываем компонент NavigationMenuViewComponent из Components/-->
            </div>
        </div>

        <div class="products-body">
            @RenderBody()
        </div>
    </div>
</body>
</html>
